$primary-color: rgb(5, 5, 5);
$secondary-color: rgb(255, 83, 97);

@font-face {
  font-family: "Logam";
  src: url("assets/fonts/Logam.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Agency";
  src: url("assets/fonts/Agency.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Agency-fallback";
  src: local("Georgia");
  size-adjust: 75%;
  ascent-override: 95%;
  descent-override: 25%;
  line-gap-override: 50%;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: $secondary-color rgba(10, 10, 10, 0.9);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
}

body {
  background: rgb(10, 10, 10);
  font-family: "Agency", "Agency-fallback", sans-serif;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-between;
  height: 80px;
  padding: 0 60px;
  transition: 0.5s;
  background: rgba(10, 10, 10, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
  overflow: hidden;

  ul {
    line-height: 80px;
  }

  li {
    display: inline;
    margin: 0 15px;
    list-style: none;
    font-size: 18px;
  }

  a:not(a.logo) {
    color: rgb(195, 195, 195);
    font-family: "Agency", "Agency-fallback", sans-serif;
    font-size: 24px;
    letter-spacing: 0.05em;
    font-weight: 700;

    cursor: pointer;

    &:hover {
      color: $secondary-color;
      transition: 0.4s;
    }
  }
}

.logo {
  font: {
    size: 32px;
    family: "Logam";
    weight: 900;
  }

  line-height: 80px;
  margin-left: 15px;
}

#hamburger {
  display: block;
  position: absolute;
  right: -30px;
  margin-top: 20px;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: 0.4s;

  .line {
    display: block;
    background: white;
    width: 30px;
    height: 3.5px;
    margin: 6px 0;
    border-radius: 5px;
  }

  &:hover .line {
    background: $secondary-color;
    transition: background 0.2s;
  }
}

header.active ul {
  opacity: 1;
  visibility: visible;
}

header.active #hamburger .line {
  background: $secondary-color;
}

section:not(section:first-of-type) {
  padding-top: 110px;
}

#hero {
  display: flex;
  position: relative;
  background: rgb(0, 0, 0);
  height: 600px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

@keyframes slideleft {
  to {
    left: -150%;
  }
}

.opacity-cover {
  display: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  background: black;
  opacity: 0.6;
  pointer-events: none;
}

#particles-js {
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  background: black;
  opacity: 0.5;
}

#mahdi {
  z-index: 5;
  position: absolute;
  height: 600px;
  margin-top: 13px;
  right: 15%;
  pointer-events: none;
}

#headline {
  z-index: 20;
  position: relative;
  left: 15%;
  margin: auto 0;
  height: 225px;
  width: 413px;

  h1 {
    font-size: 65px;
  }

  h2 {
    margin-top: 5px;
    color: rgb(200, 200, 200);
    font-weight: 500;
    letter-spacing: 1px;
  }

  .greeting {
    color: $secondary-color;
    font-size: 25px;
  }
}

#links {
  display: flex;
  width: 410px;
  height: 56px;
  margin-top: 20px;

  div {
    display: flex;
    justify-content: space-evenly;
    width: 180px;
  }

  %link-hover {
    border: 2px solid $secondary-color;
    box-shadow: 0 0 10px $secondary-color;
    transition: 0.4s;
  }

  #contactbtn {
    height: 56px;
    width: 170px;
    padding: 16px;
    text-align: center;
    background: black;
    border: 2px solid white;
    color: $secondary-color;
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      @extend %link-hover;
    }
  }

  .link {
    width: 56px;
    height: 56px;
    padding: 10px;
    border: 2px solid white;
    background: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      @extend %link-hover;
    }
  }
}

.scroll-to {
  visibility: hidden;
  width: 0.1px;
  height: 0.1px;
  margin: auto;
  scroll-margin-top: 80px;
}

.title {
  width: 260px;
  height: 52px;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
  border: 2px solid $secondary-color;
  line-height: 50px;
  box-shadow: 0 0 6px $secondary-color;

  h2 {
    font-size: 31px;
    color: white;
    font-weight: 600;
  }
}

#content1 {
  display: flex;
  margin: auto;
  width: 90%;
  column-gap: 5%;
}

#pfp {
  width: 182px;
  height: 182px;
  border-radius: 100px;
  margin: auto 10px;
  border: 1px solid transparent;
  transition: 0.4s;

  &:hover {
    border: 1px solid $secondary-color;
    box-shadow: 0 0 6px $secondary-color;
  }
}

#description {
  width: 70%;
}

section:nth-of-type(2) h2 {
  font-size: 40px;
}

section:nth-of-type(2) p {
  margin-top: 18px;
  color: rgb(211, 211, 211);
  font-size: 23px;
  text-align: justify;
}

#content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 22px;
  padding: 80px 30px;
  transition: 0.6s;
  gap: 5%;

  &:nth-child(1) {
    background: rgb(62, 53, 21);
  }

  &:nth-child(2) {
    background: rgb(17, 48, 55);
  }

  &:nth-child(3) {
    background: rgb(55, 21, 21);
  }

  &:nth-child(4) {
    background: rgb(15, 32, 49);
  }

  img {
    width: 400px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  h2 {
    width: fit-content;
    margin: 20px;
    font-size: 48px;
    color: white;
  }
}

.information {
  width: 450px;
}

.information > * {
  margin: 0 20px 20px 20px;
  color: rgb(211, 211, 211);
}

.project-buttons {
  display: flex;
  width: 320px;
  height: 70px;
  justify-content: space-between;
  align-items: center;

  @mixin view-button($color) {
    height: 55px;
    width: 150px;
    padding: 16px;
    text-align: center;
    border: 2px solid white;
    font-size: 18px;
    color: $color;

    &:hover {
      border: 2px solid $color;
      box-shadow: 0 0 5px $color;
      transition: 0.4s;
    }
  }

  .view-project {
    @include view-button($secondary-color);
  }

  .git-project {
    @include view-button(rgb(192, 83, 255));
  }
}

#content3 {
  display: flex;
  justify-content: center;

  & > div {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    width: 325px;
    background: $primary-color;
    border: 2px solid transparent;
    box-shadow: 0 0 10px rgb(53, 53, 53);
    padding: 10px 20px;
    transition: transform 0.6s;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0.5deg);
  }

  to {
    transform: rotate(-0.5deg);
  }
}

#content3 > div:hover {
  border: 2px solid $secondary-color;
  box-shadow: 0 0 5px $secondary-color;
  scale: 1.05;
  transition: 0.3s;
  animation-name: rotation;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#content3 h2 {
  text-align: center;
  font-size: 30px;
}

.skill {
  display: flex;

  img {
    width: 75px;
    margin: 10px;
  }

  img:hover,
  i:hover {
    transform: scale(1.15);
    transition: 0.3s;
  }

  p {
    margin-top: 18px;
    margin-left: 3px;
  }
}

.progress {
  background: rgb(169, 169, 169);
  position: absolute;
  margin-top: 50px;
  margin-left: 95px;
  width: 175px;
  height: 15px;
  border-radius: 20px;

  p {
    position: absolute;
    top: -50px;
    left: 145px;
  }
}

@mixin progressColor($color) {
  height: 100%;
  background: $color;
  border-radius: 20px;
}

.lang-progress {
  @include progressColor(rgb(200, 0, 0));
}

.libframe-progress {
  @include progressColor(rgb(0, 200, 0));
}

.tool-progress {
  @include progressColor(rgb(0, 0, 200));
}

// contact me section
section:nth-of-type(5) {
  padding-bottom: 80px;
  text-align: center;
  justify-content: center;
  font-weight: bold;

  form {
    background: $primary-color;
    display: flex;
    flex-direction: column;
    padding: 25px 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgb(53, 53, 53);

    &:hover {
      border: 1px solid $secondary-color;
      box-shadow: 0 0 5px $secondary-color;
      transition: 0.6s;
    }

    input,
    textarea {
      border: 0;
      margin: 12px 0;
      padding: 20px;
      outline: none;
      background: rgb(90, 90, 90);
      color: white;
      font-family: "Calibri";
      font-size: 1rem;
      resize: none;
      border-radius: 5px;
      border-bottom: 3px solid transparent;
    }

    input:focus,
    textarea:focus {
      border-bottom: 3px solid $secondary-color;
      transition: 0.6s;
    }

    ::placeholder {
      color: rgb(189, 189, 189);
      font-family: "Calibri";
      font-size: 1rem;
      font-weight: 400;
    }

    button {
      cursor: pointer;
      width: 160px;
      height: 50px;
      margin: 20px auto 0;
      background: $secondary-color;
      border: 0px;
      border-radius: 20px;
      font-family: "Agency";
      font-size: 24px;
      font-weight: 800;
      line-height: 50px;

      &:hover {
        box-shadow: 0 0 5px $secondary-color;
        transform: scale(1.1);
        transition: 0.4s;
      }
    }
  }
}

footer {
  background: $primary-color;
  padding: 20px 0;
  width: 100%;
  height: 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;

  .logo {
    line-height: 0;
    margin: 20px;
  }

  #countries {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flag {
    height: 25px;
    width: 40px;
    margin: 15px 10px;

    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
  }

  #footer-links {
    margin: 0px;

    & a {
      margin: 0px 10px 40px 10px;
      text-decoration: underline;
      color: rgb(189, 189, 189);

      &:hover {
        color: white;
        transition: 0.3s;
      }
    }
  }

  #copyright {
    margin: 10px 20px 0 20px;
  }
}

// screen resizing (responsiveness)
@media only screen and (max-width: 1200px) {
  #mahdi {
    right: 10%;
  }

  #headline {
    left: 10%;
  }
}

@media only screen and (max-width: 1100px) {
  #mahdi {
    right: 5%;
  }

  #headline {
    left: 5%;
  }

  #content3 {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
}

@media only screen and (max-width: 900px) {
  #mahdi {
    left: 50%;
    transform: translate(-50%, 0);
    filter: blur(3px);
  }

  #headline {
    margin: auto;
    margin-top: 150px;
  }

  .project {
    flex-direction: column;
    row-gap: 50px;
  }

  .opacity-cover {
    display: block;
  }

  #particles-js {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  #content1 {
    flex-direction: column;
    align-items: center;
  }

  #description {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  header {
    height: 70px;
    overflow: visible;

    ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100vh;
      background: rgba(20, 20, 20, 0.97);
      top: 70px;
      left: 0;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease-out;
    }

    li {
      margin-top: 50px;
      font-size: 22px;
      line-height: 40px;
    }
  }

  #hamburger {
    right: 20px;
    transition: 0.4s;
  }

  .logo {
    margin: auto;
  }

  #mahdi {
    left: 40%;
  }
}

@media only screen and (max-width: 500px) {
  #headline {
    scale: 0.8;
  }

  section:nth-of-type(2) p {
    text-align: left;
    font-size: 21px;
  }

  .information {
    width: 95%;
  }

  .project img {
    width: 100%;
    transition: 0.3s;
  }

  .project-buttons {
    height: 75%;
    width: 90%;
    column-gap: 15px;
    row-gap: 20px;
    flex-wrap: wrap;
    margin-top: 45px;

    .view-project,
    .git-project {
      width: 100%;
    }
  }

  #footer-links a {
    font-size: 14px;
  }

  #copyright {
    font-size: 14px;
  }

  form {
    width: 100%;

    input,
    textarea {
      padding: 4%;
    }
  }
}

@media only screen and (max-width: 415px) {
  #headline {
    height: 410px;
  }
}

@media only screen and (max-width: 400px) {
  #headline {
    width: 260px;
    margin-top: 100px;
    scale: 0.9;
  }

  #links {
    flex-direction: column;

    #contactbtn {
      width: 220px;
    }

    div {
      margin-top: 20px;
      justify-content: space-between;
      width: 220px;
    }
  }

  .title {
    width: 80%;
  }
}
